################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cSharpApps/.vs/cSharpApps
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/d0e3a05b-e50e-435a-9491-ce6a34e46257.vsidx
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/134f46d6-7e7a-4181-ab18-e899fd6122aa.vsidx
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/379cdbbb-6776-40d7-bf8c-6d762ab01a22.vsidx
