################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cSharpApps/.vs/cSharpApps
/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/d0e3a05b-e50e-435a-9491-ce6a34e46257.vsidx
